<div class="container mt-3">
    <h2>Frequently Asked Questions</h2>
    <div id="accordion">
        <div class="card mt-4">
            <div class="card-header">
                <a class="btn " data-bs-toggle="collapse" href="#collapseOne">
                    What is GoAutoExpert?
                </a>
            </div>
            <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                <div class="card-body">
                    GoAutoExpert is a network of technology-enabled car service centres, offering a seamless service
                    experience at the convenience of a tap. With our highly skilled technicians, manufacturer
                    recommended procedures and the promise of genuine spare parts, we are your best bet. </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                    Why should I choose GoAutoExpert?
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    GoAutoExpert offers the best car services and solutions at fair and flexible prices. You end up
                    saving up to 40% compared to what is charged at Authorised Service Centres and Multi-brand workshops
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                    How can you offer upto 40% savings on services?
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    Our distinctive business model enables us to provide affordable car services. We achieve savings on
                    labour costs, centralized bulk procurement of spare parts, no real-estate overheads, and adept
                    operational excellence, which are passed on straight to You- the Customer </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">
                    How is GoMechanic different from other service platforms out there?
                </a>
            </div>
            <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    Unlike other platforms, we do not work on a lead generation model. Uncompromised customer
                    gratification is our idea of fulfilment, that is why we own the complete experience right from
                    procurement of spare parts to quality control at our partner car service centres. Our Customer
                    Representative will be on ground duty promptly reporting every development directly to you.
                    GoMechanic is your personal car service expert and partner rolled into one. </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive">
                    Do I have to pay before the service?
                </a>
            </div>
            <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    Not at all. From the booking to delivery, our priority at GoMechanic keeps You and Your Car Service
                    first. We will send you the bill once your car is serviced and inspected by our professionals. We
                    offer flexible payment options for your ease. You can still prepay if you choose to. </div>
            </div>
        </div>