<div><img class="w-100" src="assets/images/12.png"></div>
<div class="container">
 
    <div class="row row-cols-1 row-cols-lg-4 d-flex justify-content-center" style="background: linear-gradient(to top, #421a31, #e95ed2)">
        <div class="col">
            <div class="card h-100 shadow-lg p-4 mb-5 bg-body rounded">
                <img src="assets/images/6.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Helpline Numbers</h5>
                    <p class="card-text">+91 9292922982 <br> +91 743527282 <br> +91 9999999999</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-lg p-4 mb-5 bg-body rounded">
                <img src="assets/images/7.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Email Address</h5>
                    <a class="card-text">GoAutoExpert@gmail.com </a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-lg p-4 mb-5 bg-body rounded">
                <img src="assets/images/8.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Corporate Office Address
                    </h5>
                    <a class="card-text">1, Ishan Arcade, 2nd floor, Gokhale Rd, opposite Gaondevi Mandir, above Canara
                        Bank, Thane West, Maharashtra 400602</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div>