<div class="container">
    <div class="card mt-3 mb-3">
        <div class="card-body">
            <h3>ABOUT US</h3>
            <h5>GoAutoExpert aims to be the best of both worlds - Reliable and Cost-effective Car Services</h5>
            <br>
            <p> Car Servicing, Car repairs and Car cleaning - we are your one-stop solution for all things cars.<br>

                A brainchild of 4 friends - Kushal Karwa, Amit Bhasin, Rishabh Karwa and Nitin Rana, GoMechanic is a
                network of technology-enabled car service centres, offering a seamless car service experience at the
                convenience of a tap. With our highly skilled technicians, manufacturer recommended procedures and the
                promise of genuine spare parts we are your best bet.<br>

                Stay in the comforts of your home or office and make the most of our complimentary pick-up and drop-in
                service. Count on us to be your personal car care expert, advisor and car mechanic.</p>
        </div>
    </div>
    <div class="card bg-dark text-white mb-3">
        <img src="assets/images/10.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">TEAM BEHIND YOUR SERVICE</h5>
        </div>
      </div>


</div>