<div class="container ">

    <form class="shadow-lg p-4 mb-5 bg-body rounded" [formGroup]="quoteform" (ngSubmit)="getQuote()"  >
        <div class="title d-flex justify-content-center"><h2 class="">Please fill in your details below so that we can service you in the best way possible.</h2>
        </div>
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="name">First name</label>
                    <input type="text" id="name" class="form-control" name="name" formControlName="name1">
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="last name">Last name</label>
                    <input type="text" id="last name" class="form-control" name="last name" formControlName="name2">
                </div>
            </div>
        </div>

        <!-- Number input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form6Example6">Phone</label>
            <input type="number" id="form6Example6" class="form-control" required formControlName="phone">
        </div>

        <!-- Text input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form6Example4">Address</label>
            <input type="text" id="form6Example4" class="form-control" formControlName="addr">
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="col form-label" for="email">Email</label>
            <input type="email" id="email" class="form-control" name="email" formControlName="email">
        </div>

        <!-- Vehicaldetails -->
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form6Example1">Vehical Registration number</label>
                    <input type="text" id="form6Example1" class="form-control" formControlName="regno">
                </div>
            </div>
            <div class="col mt-5 mr--1">
                <select id="selModel" name="selModel" data-msg-required="Please select model" data-rule-required="true" formControlName="brand">
                    <option value="">Select Brand</option>
                    <option >Audi</option>
                    <option>Bentley</option>
                    <option >BMW</option>
                    <option>Ferrari</option>
                    <option>Fiat</option>
                    <option>Ford</option>
                    <option>Honda</option>
                    <option>Hyundai</option>
                    <option>Jaguar</option>
                    <option>Jeep</option>
                    <option>Kia</option>
                    <option>VW</option>
                    <option>Toyota</option>
                    <option >Nissan</option>
                    <option >TATA</option>
                    <option>Others</option>
                </select>
            </div>
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form6Example7">Additional information</label>
            <textarea class="form-control" id="form6Example7" rows="4" formControlName="info"></textarea>
        </div>

        <!-- Service details -->
        <div class="row mb-4">
            <div class="col-lg-6">
                <div class="">
                    <select id="selService" name="selService" data-msg-required="Please select service"
                        data-rule-required="true" formControlName="service">
                        <option value="">Select service*</option>
                        <option value="Periodic Maintenance">Periodic Maintenance</option>
                        <option value="Running Repair">Running Repair</option>
                        <option value="Body and Paint">Body and Paint</option>
                        <option value="Accessories Fitments">Accessories Fitments</option>
                        <option value="Breakdown">Breakdown</option>
                        <option value="Value Added Services">Value Added Services</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="">
                    <select id="selPickandDrop" name="selPickandDrop" data-msg-required="Please select pick up and drop"
                        data-rule-required="true" formControlName="pickd">
                        <option value="">Select pick up and drop*</option>
                        <option value="Pick up and Drop">Pick up and Drop</option>
                        <option value="Pick up only">Pick up only</option>
                        <option value="Drop off only">Drop off only</option>
                        <option value="Not required">Not required</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-start mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked formControlName="warranty">
            <label class="form-check-label" for="form6Example8">Vehical still under warranty? </label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="quoteform.invalid">Get Quote.</button>
    </form>
</div>